@import "../../global.scss";

.menu {
  width: 300px;
  height: 100vh;
  background-color: white;
  position: fixed;
  top: 0;
  right: -300px;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all 1s ease;
  overflow: hidden;
  z-index: 20;

  &.active {
    background-color: $mainColor;

    right: 0;
    z-index: 20;
  }

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 25px;
    font-weight: 300;
    color: white;
    width: 60%;

    .menuContainer {
      display: none;

      @include middle {
        display: inherit;
        font-size: 15px;
      }
      div {
        font-weight: 500;
        text-decoration: underline chartreuse;
      }
    }

    li {
      margin-bottom: 25px;
      a {
        font-size: inherit;
        color: inherit;
        text-decoration: none;
        text-transform: uppercase;
        transition: 0.5s;
        transition-delay: 0.2s;

        font-weight: 700;
      }

      a:hover {
        color: rgba(255, 255, 255, 0.15);
      }

      a::before {
        content: attr(datatext);
        position: absolute;
        font-size: 0.6em;
        color: chartreuse;
        text-shadow: 0 0 10px chartreuse;
        font-weight: 500;
        letter-spacing: 40px;
        white-space: nowrap;
        margin: 16px 0 0 26px;
        opacity: 0;
        transition: 0.5s;
      }

      a:hover::before {
        opacity: 1;
        letter-spacing: 6.5px;
        transition-delay: 0.3s;
      }

      span {
        font-size: 1.4em;
        color: chartreuse;
      }
    }

    @include mobile {
      font-size: 15px;
    }
  }
}
