@import "../../global.scss";

.contact {
  background-color: $color-3;
  border-top: solid $color-1 1px;
  display: flex;

  @include mobile {
    flex-direction: column;
  }

  .left {
    flex: 1;
    overflow: hidden;

    img {
      margin: 20px 5px;
      height: auto;
      opacity: 0.9;

      @include tab {
        margin: 50px 5px;
      }
    }
  }
  .right {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    @include mobile {
      padding-top: 10px;
    }

    p {
      color: transparent;
      background: $mainColor;
      -webkit-background-clip: text;
      -moz-background-clip: text;
      background-clip: text;
      text-shadow: 0px 3px 3px $color-4;
      padding-bottom: 10px;
      overflow-y: hidden;
      text-decoration: underline chartreuse;

      @include middle {
        padding-bottom: 10px;
        font-size: 12px;
      }
    }

    h2 {
      font-size: 30px;
      color: transparent;
      background: $mainColor;
      -webkit-background-clip: text;
      -moz-background-clip: text;
      background-clip: text;
      text-shadow: 0px 3px 3px $color-4;
      overflow-y: hidden;

      span {
        font-size: 40px;
        margin: 10px 0;
        color: transparent;
        background: $color-5;
        -webkit-background-clip: text;
        -moz-background-clip: text;
        background-clip: text;
        text-shadow: 0px 3px 3px $color-1;

        @include mobile {
          font-size: 35px;
        }
      }
    }

    form {
      padding: 10px 0;
      background-color: rgba(255, 255, 255, 0.753);
      margin-bottom: 20px;
      width: 70%;
      height: 70%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      border-radius: 10px;
      box-shadow: 0px 0px 15px -8px $mainColor;

      @include mobile {
        width: 300px;
      }

      #not-mail {
        display: none;
        color: $mainColor;
        text-decoration: underline $color-1;
        transform-origin: 50% 50%;
        padding-bottom: 5px;
        @include tab {
          font-size: 14px;
        }

        @keyframes dongle {
          0% {
            transform: translate(0px, 0px);
          }
          10% {
            transform: translate(-10px, 0px);
          }
          20% {
            transform: translate(10px, 0px);
          }
          30% {
            transform: translate(-10px, 0px);
          }
          40% {
            transform: translate(10px, 0px);
          }
          50% {
            transform: translate(-10px, 0px);
          }
          60% {
            transform: translate(10px, 0px);
          }
          70% {
            transform: translate(-10px, 0px);
          }
          80% {
            transform: translate(10px, 0px);
          }
          90% {
            transform: translate(-10px, 0px);
          }
          100% {
            transform: translate(0px, 0px);
          }
        }
      }

      input {
        margin-bottom: 10px;
        width: 75%;
        height: 50px;
        font-size: 14px;
        border: none;
        border-bottom: 1px solid $mainColor;
        border-radius: 10px;
        background-color: $color-3;

        &:focus {
          outline: none;
        }

        @include mobile {
          height: 30px;
          margin: 10px 0 10px 0;
        }
      }

      .error::placeholder {
        text-decoration: underline $color-1;
        color: $error;
      }

      textarea {
        margin-bottom: 10px;
        width: 75%;
        height: 100px;
        font-size: 14px;
        border: none;
        border-bottom: 1px solid $mainColor;
        border-radius: 10px;
        background-color: $color-3;
        resize: none;

        &:focus {
          outline: none;
        }

        @include mobile {
          height: 100px;
        }
      }

      button {
        margin-bottom: 10px;
        width: 150px;
        height: 30px;
        color: white;
        background-color: $mainColor;
        border: none;
        border-radius: 10px;
        font-weight: 500;
        cursor: pointer;
        font-size: 16px;

        @include mobile {
          margin: 0 0 5px 0;
          font-size: 12px;
        }

        @include tab {
          margin: 0 0 5px 0;
          font-size: 14px;
        }

        &:focus {
          outline: none;
        }

        &:hover {
          transition: 0.5s;
          transform: scale(1.1);
          background-color: $color-2;
          letter-spacing: 5px;
        }
      }

      .form-message {
        color: #240046;
        text-align: center;
        text-decoration: underline $color-1;
        opacity: 0;
        transition: 0.2s ease;
        width: 80%;
        padding-bottom: 5px;
        @include tab {
          font-size: 14px;
          padding-bottom: 5px;
        }
      }
    }
  }
}
