@import "../../global.scss";

.contact {
  background-color: $color-3;
  border-top: solid $color-1 1px;
  display: flex;

  @include mobile {
    flex-direction: column;
  }
  @include middle {
    flex-direction: column;
  }

  .left {
    flex: 1;
    overflow: hidden;

    img {
      margin: 20px 5px;
      height: auto;
      opacity: 0.9;

      @include tab {
        margin: 50px 5px;
      }
    }
  }
  .right {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    @include mobile {
      padding-top: 10px;
    }

    .stage {
      display: flex;
    }
    ul {
      display: flex;
    }
    li {
      font-family: "Roboto Mono", monospace;
      letter-spacing: -0.5px;
      color: black;

      animation: flash 1.5s linear infinite;

      @include mobile {
        padding-bottom: 10px;
        font-size: 14px;
      }

      @keyframes flash {
        0% {
          color: black;
          text-shadow: 0px 0px 0px transparent;
        }
        90% {
          color: black;
          text-shadow: 0px 0px 0px transparent;
        }
        100% {
          color: $color-1;
          text-shadow: 0px 2px 2px $color-1;
        }
      }
    }

    li:nth-child(1) {
      animation-delay: 0.15s;
    }
    li:nth-child(2) {
      animation-delay: 0.3s;
    }
    li:nth-child(3) {
      animation-delay: 0.45s;
    }
    li:nth-child(4) {
      animation-delay: 0.6s;
    }
    li:nth-child(5) {
      animation-delay: 0.75s;
    }
    li:nth-child(6) {
      animation-delay: 1.2s;
    }

    p {
      font-family: "Roboto Mono", monospace;
      letter-spacing: -1px;

      padding-bottom: 10px;
      overflow-y: hidden;

      @include mobile {
        padding-bottom: 10px;
        font-size: 14px;
      }
    }

    h2 {
      font-size: 30px;
      background: $mainColor;
      -webkit-background-clip: text;
      -moz-background-clip: text;
      background-clip: text;
      overflow-y: hidden;

      span {
        font-size: 40px;
        margin: 10px 0;
        color: transparent;
        background: $color-5;
        -webkit-background-clip: text;
        -moz-background-clip: text;
        background-clip: text;
        text-shadow: 0px 2px 1px $color-1;

        @include mobile {
          font-size: 35px;
        }
      }
    }

    form {
      padding: 10px 0;
      background-color: rgba(255, 255, 255, 0.753);
      margin-bottom: 20px;
      width: 70%;
      height: 70%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      border-radius: 10px;
      box-shadow: 0px 0px 15px -8px $mainColor;

      @include middle {
        width: 300px;
      }

      #not-mail {
        overflow-y: hidden;
        font-family: "Roboto Mono", monospace;
        letter-spacing: -0.5px;
        display: none;
        color: $mainColor;
        text-decoration: underline $color-1;
        transform-origin: 50% 50%;
        padding-bottom: 5px;
        @include tab {
          font-size: 14px;
        }
        @include middle {
          font-size: 12px;
        }
        @include mobile {
          font-size: 10px;
        }

        @keyframes dongle {
          0% {
            transform: translate(0px, 0px);
          }
          10% {
            transform: translate(-10px, 0px);
          }
          20% {
            transform: translate(10px, 0px);
          }
          30% {
            transform: translate(-10px, 0px);
          }
          40% {
            transform: translate(10px, 0px);
          }
          50% {
            transform: translate(-10px, 0px);
          }
          60% {
            transform: translate(10px, 0px);
          }
          70% {
            transform: translate(-10px, 0px);
          }
          80% {
            transform: translate(10px, 0px);
          }
          90% {
            transform: translate(-10px, 0px);
          }
          100% {
            transform: translate(0px, 0px);
          }
        }
      }

      input {
        font-family: "Roboto Mono", monospace;
        letter-spacing: -0.5px;

        margin-bottom: 10px;
        width: 75%;
        height: 50px;
        font-size: 14px;
        border: none;
        border-bottom: 1px solid $mainColor;
        border-radius: 10px;
        background-color: $color-3;

        &::placeholder {
          padding-left: 5px;
        }

        &:focus {
          outline: none;
        }

        @include mobile {
          height: 30px;
          margin: 10px 0 10px 0;
        }
      }

      .error::placeholder {
        text-decoration: underline $color-1;
        color: $error;
      }

      textarea {
        margin-bottom: 10px;
        width: 75%;
        height: 100px;
        font-size: 14px;
        border: none;
        border-bottom: 1px solid $mainColor;
        border-radius: 10px;
        background-color: $color-3;
        resize: none;

        &::placeholder {
          padding: 35px 5px;
        }

        &:focus {
          outline: none;
        }

        @include mobile {
          height: 100px;
        }
      }

      button {
        font-family: "Roboto Mono", monospace;
        letter-spacing: -0.5px;
        margin-bottom: 10px;
        width: 150px;
        height: 30px;
        color: white;
        background-color: $mainColor-op;

        border: none;
        border-radius: 10px;
        font-weight: 500;
        cursor: pointer;
        font-size: 16px;

        @include mobile {
          margin: 0 0 5px 0;
          font-size: 12px;
        }

        @include tab {
          margin: 0 0 5px 0;
          font-size: 14px;
        }

        &:focus {
          outline: none;
        }

        &:hover {
          transition: 0.5s;
          transform: scale(1.1);
          background-color: $mainColor;
          letter-spacing: 1px;
        }
      }

      .form-message {
        font-family: "Roboto Mono", monospace;
        overflow-y: hidden;
        letter-spacing: -0.5px;
        color: #240046;
        text-align: center;
        text-decoration: underline $color-1;
        opacity: 0;
        transition: 0.2s ease;
        width: 80%;
        padding-bottom: 5px;
        @include tab {
          font-size: 14px;
          padding-bottom: 5px;
        }
        @include middle {
          font-size: 12px;
          padding-bottom: 5px;
        }
        @include mobile {
          font-size: 10px;
          padding-bottom: 5px;
        }
      }
    }
  }
}
