@import "../../global.scss";

.intro {
  background-color: white;
  display: flex;

  @include mobile {
    flex-direction: column;
    align-items: center;
  }

  .left {
    flex: 0.5;
    overflow: hidden;
    @include tab {
      flex: 0.45;
    }
    .imgContainer {
      margin-top: 100px;
      width: 500px;
      height: 500px;
      background-color: $color-2;
      background-blend-mode: multiply;
      border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
      display: flex;
      align-items: flex-end;
      justify-content: center;
      float: right;
      border: 10px solid $mainColor;
      animation: morph 10s ease-in-out infinite 2s;
      /** ANIMATIONS **/
      @keyframes morph {
        0% {
          border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
        }
        50% {
          border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
        }
        100% {
          border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
        }
      }
      @include mobile {
        height: 300px;
        width: 300px;
      }

      @include tab {
        height: 300px;
        width: 300px;
      }

      img {
        height: 90%;
        @include mobile {
          height: 80%;
        }
      }
    }
  }
  .right {
    flex: 0.5;
    position: relative;
    @include tab {
      flex: 0.55;
      padding-top: 100px;
    }

    .wrapper {
      width: 100%;
      height: 100%;
      padding-left: 50px;
      display: flex;
      flex-direction: column;
      justify-content: center;

      @include mobile {
        padding-left: 0;
        align-items: center;
      }

      h1 {
        font-size: 60px;
        margin: 10px;
        color: transparent;
        background: $mainColor;
        -webkit-background-clip: text;
        -moz-background-clip: text;
        background-clip: text;
        text-shadow: 0px 3px 3px $color-4;

        @include mobile {
          font-size: 40px;
        }
        @include tab {
          font-size: 40px;
        }
        span {
          font-size: 80px;
          color: transparent;
          background: $color-5;
          -webkit-background-clip: text;
          -moz-background-clip: text;
          background-clip: text;
          text-shadow: 0px 3px 3px $color-1;

          @include mobile {
            font-size: 60px;
          }
          @include tab {
            font-size: 60px;
          }
        }
      }

      ul {
        padding-left: 10px;
        display: flex;
        flex-direction: row;

        li {
          font-size: 40px;
          font-weight: 500;
          padding-top: 20px;
          color: transparent;
          background: $mainColor;
          -webkit-background-clip: text;
          -moz-background-clip: text;
          background-clip: text;
          text-shadow: 0px 3px 3px $color-4;
          transition: 2s;

          @include mobile {
            font-size: 20px;
          }
          @include tab {
            font-size: 20px;
          }
        }

        li:hover,
        li:hover ~ li {
          transform: rotate(150deg) translateY(-50px);
          transition: 2s;
          filter: blur(20px);
          opacity: 0;
        }

        @include mobile {
          padding: 0;
        }
      }

      h4 {
        margin: 10px;
        text-decoration: underline $color-1;
        color: transparent;
        background: $mainColor;
        -webkit-background-clip: text;
        -moz-background-clip: text;
        background-clip: text;
        text-shadow: 0px 3px 3px $color-4;

        @include mobile {
          font-size: 16px;
          margin: 0 0 10px 0px;
        }
        @include tab {
          font-size: 16px;
        }
      }

      p {
        margin: 10px;
        width: 440px;
        line-height: 1.5;
        color: transparent;
        background: $mainColor;
        -webkit-background-clip: text;
        -moz-background-clip: text;
        background-clip: text;
        text-shadow: 0px 3px 3px $color-4;

        @include mobile {
          font-size: 14px;
          margin-left: 6px;
          width: 300px;
        }
        @include tab {
          font-size: 14px;
          width: 400px;
        }
      }

      h3 {
        margin: 10px;
        font-size: 30px;
        color: transparent;
        background: $mainColor;
        -webkit-background-clip: text;
        -moz-background-clip: text;
        background-clip: text;
        text-shadow: 0px 3px 3px $color-4;

        @include mobile {
          font-size: 20px;
          margin: 0 0 20px 0px;
        }

        @include tab {
          font-size: 20px;
        }

        span {
          text-decoration: underline $color-1;
          font-size: inherit;
          color: transparent;
          background: $mainColor;
          -webkit-background-clip: text;
          -moz-background-clip: text;
          background-clip: text;
          text-shadow: 0px 3px 3px $color-4;
        }

        .ityped-cursor {
          animation: blink 1s infinite;
        }

        @keyframes blink {
          50% {
            opacity: 1;
          }
          100% {
            opacity: 0;
          }
        }
      }
    }
    a {
      position: absolute;
      bottom: 10px;
      left: 40%;

      @include mobile {
        bottom: 185px;
        left: 10%;
      }
      @include tab {
        bottom: 165px;
        left: 50%;
      }
      img {
        width: 30px;
        animation: arrowBlink 2s infinite;
        @include mobile {
          width: 25px;
        }
      }

      @keyframes arrowBlink {
        100% {
          opacity: 0;
        }
      }
    }
  }
}
