$mainColor: #30005e;
$color-1: chartreuse;
$color-2: #9d59d9;
$color-3: #9d59d918;
$color-4: #9d59d98e;
$color-5: rgba(128, 255, 0, 0.5);
$color-6: #31005ead;
$error: rgb(240, 25, 25);

$mobileWidth: 500px;
$tabWidth: 1060px;

@mixin mobile {
  @media (max-width: #{$mobileWidth}) {
    @content;
  }
}

@mixin tab {
  @media (min-width: 501px) and (max-width: #{$tabWidth}) {
    @content;
  }
}
