$mainColor: #240046;
$color-1: chartreuse;
$color-2: #9d59d9;
$color-3: #9d59d918;
$color-4: #9d59d98e;
$color-5: rgba(128, 255, 0, 0.5);

$width: 1000px;

@mixin mobile {
    @media (max-width: #{$width}){
        @content
    }
}
